.wrapper {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(193, 191, 191);
    padding: 10px;
    margin-top: 8px;
    border-radius: 10px;
}

.taskDescriptionContainer {
    width: 40%;
}

.editCompleteBtn {
    margin-left: 5px;
}

.editCompleteIcon:hover {
    cursor: pointer;
}

.orange {
    color: orange;
}

.red {
    color: red;
}