.wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
}

.card {
    border: 1px solid rgb(193, 191, 191);
    border-radius: 10px;
    background-color: aliceblue;
    padding: 12px 0 20px 0;
}

.header {
    margin-top: 20px;
}

.addItemContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.addItemField {
    width: 400px;
    margin-left: 10px;
}

.dueDate {
    margin-left: 10px;
}

.title {
    text-align: center;
}

.intro {
    text-align: center;
}

.activeTasksSection {
    padding-left: 20px;
    padding-right: 20px;
}

.listHeader {
    display: flex;
    justify-content: space-between;
}

.completedTasksSection {
    padding-left: 20px;
    padding-right: 20px;
}

.deleteAllButton {
    width: 120px;
    margin-right: 20px;
    float: right;
}

.modalBtnContainer {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.modalOptionBtn {
    padding: 2px 8px;
}